footer {
    width: 100%;
    background: $color-4;
    padding: 1em;
    margin: 0;

    .container {
        color: #fff;
    }

    a {
        color: #fff;
        text-decoration: none;
    }

    .footer-section {
        width: calc(50% - 1em);
        margin: 0.5em;
    }

    .footer-logo {
        max-width: 240px;
    }

    .footer-contact {
        text-align: right;
    }

    .footer-links {

        .footer-link {
            flex: 1;

            a {
                text-decoration: none;
            }
        }
    }

    .footer-copy {
        margin-top: 2em;
        justify-content: space-between;
    }

    .ewd {
        width: 200px;

        img {
            width: 100%;
        }
    }
}
