.blog {
    margin: 0 auto;

    .container {

    }

    .group {

    }

    .container > .group {
        //margin: 0 -2em;
    }

    .post {
        width: calc(33.333% - 2em);
        margin: 1em;
        background: #fff;
        border-radius: 0.25em;
        box-shadow: $box-shadow-2;
        transition: $transition-1;
        overflow: hidden;
        text-decoration: none;
        color: inherit;

        &:hover,
        &:focus {
            background: $color-1;
            transform: translate(0, -0.5em);

            .title {
                color: #fff;
            }

            .summary {
                color: #fff;
                opacity: 0.75;
            }

            .tag {
                background: rgba(255, 255, 255, 0.5);
            }
        }
    }

    .cover {
        margin: 0 auto;
        overflow: hidden;
    }

    .cover img {
        width: 100%;
        transition: $transition-1;
    }

    .caption {
        display: none;
    }

    .info {
        padding: 2em;
    }

    .title {
        transition: $transition-1;
    }

    .summary {
        margin-top: 0.5em;
        color: $color-3;
        transition: $transition-1;
    }

    .tags {
        margin-top: 0.5em;

        .tag {
            font-size: 0.7rem;
            display: inline-flex;
            padding: 0.75em;
            border-radius: 0.125em;
            line-height: 1;
            background: rgba(0, 0, 0, 0.1);
            border-radius: 0.25em;
            border-bottom: 2px solid rgba(0,0,0,0.1);
            margin: 0.25em 0.25em 0.25em 0;
            transition: $transition-1;
        }
    }
}

/* First Blog */
.blog-layout .post:first-of-type {
    width: 100%;
    display: flex;
    justify-content: center;
}

.blog-layout .post:first-of-type > * {
    width: 50%;
}

.blog-layout .post:first-of-type .cover {
    order: 1;
}

.blog-layout .post:first-of-type .info {
    padding: 2em;
    text-align: left;
}

@media (max-width: 768px) {
    .blog .container > .group {
        margin: 0;
    }
}

@media (max-width: 640px) {

}
