.features {

    .container {

    }

    .group {

    }

    .item {
        width: calc(25% - 2em);
        margin: 1em;
        padding: 2em;
        background: #fff;
        box-shadow: $box-shadow-2;
        border-radius: 0.25em;
        text-decoration: none;
        transition: $transition-1;

        .icon {
            @include fs(32px);
            color: $color-1;
            opacity: 0.5;
            transition: $transition-1;
        }

        h3 {
            color: $color-2;
            margin: 0.35em 0;
            transition: $transition-1;
        }

        .description {
            color: $color-3;
            transition: $transition-1;
        }

        &:hover,
        &:focus {
            background: $color-1;
            transform: translate(0, -0.5em);

            .icon {
                color: #fff;
            }

            h3 {
                color: #fff;
            }

            .description {
                color: #fff;
                opacity: 0.75;
            }
        }

    }

    img {
        width: 100%;
    }

}
